body {
  background-color: #4059AD;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

form {
  display: inline-block;
}

input {
  text-align: center;
  font-size: 20px;
  width: 145px;
  height: 75px;
  border: 0;
  border-radius: 15px;
}

button {
  width: 145px;
  height: 75px;
  border: 0;
  border-radius: 15px;
}

p {
  font-size: 20px;
}
