body {
  text-align: center;
  background-color: #5465FF;
  font-family: 'Open Sans', sans-serif;
}

form {
  margin-top: 10%;
  font-size: 20px;
  display: inline-block;
}

button {
  display: inline-block;
  font-size: 20px;
  height: 50px;
  width: 250px;
  margin-top: 10px;
  border: 0;
  border-radius: 15px;
  background-color: #BFD7FF;
}

input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 250px;
  margin-top: 5px;
  border: 0;
  border-radius: 15px;
}

.container {
  margin-top: 15px;
  display: inline-block;
}

.vastaus {
  font-size: 50px;
}
