body {
  text-align: center;
  background-color: #272727;
  font-family: 'Open Sans', sans-serif;
}

form {
  margin-top: 10%;
  font-size: 20px;
  display: inline-block;

  width: 1400px;
  background-color: #FED766;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 75px;
  border-style: dotted;
}

button {
  display: inline-block;
  font-size: 20px;
  height: 50px;
  width: 250px;
  margin-top: 10px;
  border: 0;
  border-radius: 15px;
  background-color: #EFF1F3;
}

input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 250px;
  margin-top: 5px;
  border: 0;
  border-radius: 15px;
}

.container {
  margin-top: 15px;
  display: inline-block;
}

.vastaus {
  font-size: 50px;
}
